In [2]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [21]:
# Task 1:

#Upload the csv-file "GreenhousegasEmissions.csv".

data = '/home/suny/EAGLE-Master/second-semester/spatial-python/SpatialPython2020/Exercises/GreenhousegasEmissions.csv'

greengas_df = pd.read_csv(data, sep=',')
#type(greengas_df)
#len(greengas_df)
#greengas_df.info()
greengas_df.tail()
greengas_df.head()

,unit,airpol,airemsect,geo,time_2016,time_2015,time_2014,time_2013,time_2012,time_2011,...,time_1994,time_1993,time_1992,time_1991,time_1990,time_1989,time_1988,time_1987,time_1986,time_1985
0,MIO_T,CH4,CRF1,AT,0.02474,0.02467,0.02407,0.02668,0.02627,0.02527,...,0.03272,0.03952,0.04184,0.04265,0.04733,NaN,NaN,NaN,NaN,NaN
1,MIO_T,CH4,CRF1,BE,0.04280,0.04253,0.03981,0.04395,0.04216,0.04210,...,0.04682,0.05303,0.05177,0.05822,0.06331,NaN,NaN,NaN,NaN,NaN
2,MIO_T,CH4,CRF1,BG,0.05470,0.06022,0.05677,0.05707,0.06402,0.06977,...,0.09217,0.09972,0.09968,0.09146,0.10832,0.11655,0.11557,NaN,NaN,NaN
3,MIO_T,CH4,CRF1,CH,0.01120,0.01113,0.01124,0.01229,0.01277,0.01335,...,0.02554,0.02623,0.02657,0.02664,0.02537,NaN,NaN,NaN,NaN,NaN
4,MIO_T,CH4,CRF1,CY,0.00083,0.00080,0.00074,0.00075,0.00083,0.00086,...,0.00050,0.00047,0.00047,0.00045,0.00043,NaN,NaN,NaN,NaN,NaN

In [26]:
# Task 2:

#Create an output, where all greenhouse gases of df are shown (column = airpol), 
#but only once (like an overview of all gases contained in df)

greengas_df.airpol.unique()

# Do the same for countries in df (column = geo)
greengas_df.geo.unique()

array(['AT', 'BE', 'BG', 'CH', 'CY', 'CZ', 'DE', 'DK', 'EE', 'EL', 'ES',
       'EU28', 'EU28_IS_K', 'FI', 'FR', 'HR', 'HU', 'IE', 'IS', 'IT',
       'LI', 'LT', 'LU', 'LV', 'MT', 'NL', 'NO', 'PL', 'PT', 'RO', 'SE',
       'SI', 'SK', 'TR', 'UK'], dtype=object)

In [46]:
# Task 3:

# Choose one country of your choice (look at your output above) 
# and create a beautiful graph which shows the CH4, N2O, and CO2 emissions from 1994 to 2016.
#My choice for country: "NL"
emissions = ["CH4", "N2O", "CO2"]
Netherland_emission = greengas_df[(greengas_df['geo'] == 'NL') & (greengas_df['airpol'].isin(emissions))]
#Netherland_emission

Netherland_emission_yrange = Netherland_emission.iloc[:,1:27]
Netherland_emission_yrange

23

,airpol,airemsect,geo,time_2016,time_2015,time_2014,time_2013,time_2012,time_2011,time_2010,...,time_2003,time_2002,time_2001,time_2000,time_1999,time_1998,time_1997,time_1996,time_1995,time_1994
25,CH4,CRF1,NL,0.08865,0.09288,0.09243,0.10339,0.10661,0.11200,0.11805,...,0.07926,0.07959,0.08259,0.08347,0.08743,0.09555,0.09976,0.12615,0.12356,0.11958
60,CH4,CRF1-6X4_MEMO,NL,0.74350,0.73742,0.72944,0.74534,0.74608,0.76132,0.78398,...,0.87412,0.90435,0.94924,0.97571,1.01956,1.06997,1.11681,1.16498,1.19251,1.22125
95,CH4,CRF1-6X4_MEMONIA,NL,0.74358,0.73750,0.72951,0.74541,0.74615,0.76139,0.78405,...,0.87419,0.90442,0.94930,0.97578,1.01963,1.07003,1.11688,1.16503,1.19256,1.22130
130,CH4,CRF1-6XMEMO,NL,0.74351,0.73744,0.72945,0.74535,0.74609,0.76133,0.78399,...,0.87413,0.90436,0.94925,0.97572,1.01958,1.06998,1.11682,1.16499,1.19252,1.22126
165,CH4,CRF1A,NL,0.06412,0.06690,0.06456,0.07449,0.07437,0.07771,0.08436,...,0.04443,0.04446,0.04577,0.04602,0.04696,0.04813,0.05265,0.05471,0.04637,0.04224
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38149,N2O,CRF5E,NL,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
38183,N2O,CRF6,NL,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
38214,N2O,TOTX4_MEMO,NL,27.57000,28.42000,27.51000,27.12000,26.44000,27.04000,27.68000,...,46.60000,47.02000,49.72000,53.03000,54.82000,57.13000,59.09000,59.99000,59.86000,60.25000
38249,N2O,TOTX4_MEMONIA,NL,27.90000,28.74000,27.81000,27.41000,26.72000,27.34000,27.96000,...,46.88000,47.30000,49.99000,53.30000,55.10000,57.39000,59.34000,60.22000,60.07000,60.43000
38284,N2O,TOTXMEMO,NL,28.03000,28.86000,27.92000,27.51000,26.81000,27.40000,28.03000,...,46.86000,47.26000,49.95000,53.24000,55.01000,57.30000,59.24000,60.12000,59.97000,60.34000